@import url('https://fonts.googleapis.com/css?family=Fredoka+One:400');

@keyframes slideup {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, -5px);
  }

  100% {
    transform: translate(0, 0);
  }
}

:root {
--maximum-yellow-red: #f6bd60ff;
--linen: #f7ede2ff;
--cool-grey: #8d89a6ff;
--raisin-black: #332e3cff;
--antique-ruby: #841c26ff;

}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;

} 

p {
  font-family: 'Fredoka One', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fredoka One', sans-serif;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 7.594rem;
}

h2 {font-size: 5.063rem;}

h3 {font-size: 3.375rem;}

h4 {font-size: 2.25rem;}

h5 {font-size: 1.5rem;}

small, .text-small {font-size: 0.667rem;}

body {
  height: 90vh;
  width: 90vw;
  font-weight: 400;
  line-height: 1.3;
  padding: 5vh 5vw;
  overflow: hidden;
  background-image: url(../Images/BlueGradient.png);
}

.game-container {
  width: max-content;
  height: calc(100% - 40px);
  padding: 20px 10px;
  display: flex;
  flex-flow: column nowrap;
  background-color: var(--maximum-yellow-red);
  border-radius: 10px;
  margin: auto;
  box-shadow: 0 0 20px black; ;
}

.results {
    height: max-content;
    width: calc(100% - 60px);
    padding: 20px;;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  gap: 20px;
}

p.roundCounter {
  margin: 0 0 15px;
  font-size: 1.5rem;
}

.tally {
  display: flex;
  min-width: 85px;
  min-height: 85px;
  color: white;
  text-align: center;
  border-radius: 5px;

}

.tally p {
  font-size: 2.25rem;
  margin: auto;
}

.tally.wins {
  background-color: green;
}

.tally.losses {
  background-color: red;
}

i.fa-robot{
  position: relative;
  font-size: 70px;
  width: fit-content;
  animation: slideup 3s linear 0s infinite;
}

.robot-wrapper {
width: calc(100% - 30px);
margin: auto auto 15px;
padding: 0 15px;
}

.messagebox {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  left: 55px;
  bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 7px;
  width: fit-content;
  max-width: 200px;
  height: fit-content;
  animation: slideup 3s linear 0s infinite;
}

.messagebox p {
  z-index: 1;
}

.messagebox::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 10px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-radius: 3px;
  border-color: #f2f2f2;
  display: block;
  width: 0;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 960px;
  margin: 15px 0 0;
  align-self: center;
}

button {
  display: flex;
  flex-direction: column;
  min-width: 70px;
  min-height: 70px;
  padding: 10px 5px;
  margin: 10px;
  border: 5px, solid, var(--raisin-black);
  border-radius: 10px;
  box-shadow: 5px 5px grey;
  justify-content: space-between;
}

button:hover {
  color: var(--antique-ruby);
}

button:active {
  box-shadow: 2px 2px grey;
  transform: translateY(3px);
}

button i {
    align-self: center;
    justify-self: center;
  font-size: 30px;
  margin: auto;
}

.fa-hand-scissors {
  transform: scaleX(-1) rotate(90deg);
}

.button-p {
    font-size: 0.667rem;
    margin: 0 auto;
}

@media screen and (min-width: 960px) {
  html {
    font-size: 125%;
  }

  button {
    min-width: 100px;
    min-height: 100px;
  }

  button i {
    font-size: 50px;
  }
  

  i.fa-robot {
    font-size: 80px;
  }

  .messagebox {
    position: relative;
    left: 60px;
    bottom: 5px;
    max-width: 255px;
  }
  
  .messagebox p {
    font-size: 1.25rem;
  }

}
  
