:root {
--maximum-yellow-red: #f6bd60ff;
--linen: #f7ede2ff;
--cool-grey: #8d89a6ff;
--raisin-black: #332e3cff;
--antique-ruby: #841c26ff;
}

body {
  display: flex;
  flex-flow: column nowrap;
  padding: 10vh 10vw;
  background-color: var(--maximum-yellow-red);
}

.results {
    height: 20vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px grey;
}

.messagebox {
  height: 12vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;
  margin: 1vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
}

.buttons {
  display: flex;
  padding: 50px;
  justify-content: space-around;
  align-items: center;
  margin: 100px;
}

button {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  padding: 10px 5px;
  margin: 10px;
  border: 5px, solid, var(--raisin-black);
  border-radius: 10px;
  box-shadow: 10px 5px 5px grey;
  background: radial-gradient(circle, rgba(250,0,0,0.56%) 0%, rgba(255,217,217,100%) 15%, rgba(250,250,250,100%) 20%);
  justify-content: space-between;

}

button i {
    align-self: center;
    justify-self: center;
  font-size: 70px;
  margin: auto;
  text-shadow: 0 0 10px var(--maximum-yellow-red)
}

.fa-hand-scissors {
  transform: scaleX(-1) rotate(90deg);
}

.button-p {
    font-size: 20px;
    margin: 0 auto;
}
