.buttons {
    display: flex;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    margin: 100px;
}

button {
    display: flex;
    width: 150px;
    height: 150px;
    font-size: 24px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border: 5px, solid, black;
    border-radius: 10px;
    box-shadow: 10px 5px 5px grey;
    background-color: white;

}

.results {
    text-align: center;
}