:root {
    --dark-color: #161A1D;
    --light-color: #FFFFFF; 
    --mid-color: #F5F3F4;
    --mid-color2: #4E5D68;
    --contrast-color: #A4161A;
    --contrast-color2: #DF1E25;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    color: var(--dark-color);
    font-family: Raleway, sans-serif;
    font-size : 16px;
    height: 100%;
  }
  
  #header {
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    background-color: var(--light-color);
  }
  
  .logo-wrapper {
    display: flex;
    width: 50%;
    align-items: center;
  }
  
  #header-img {
    box-sizing: border-box;
    height: 90%;
    max-width: 150px;
    margin: 0 8px;
  }
  
  h1, h2, #name {
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: bold;
  }
  
  .main-header-section h1 {
    font-size: 36px;
  }
  
  h2 {
    font-size: 30px;
  }
  
  
  #name {
   font-size: 44px;
   min-width: min-content;
  }
  
  #nav-bar {
    display: flex;
    box-sizing: border-box;
    max-height: 100%;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .nav-link {
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: var(--dark-color);
  }
  
  a:hover {
    color: var(--contrast-color);
  }
  
  main {
    position: fixed;
    height: calc(100% - 100px);
    width: 80%;
    bottom: 0;
    padding: 20px 10% 0 10%;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
  
  }
  
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 50%;
    min-width: fit-content;
    background-color: var(--mid-color);
    font-size: calc(8px + 0.1vw);
    color: var(--mid-color2);
    padding: 8px 5px;
    gap: 0.3em;
  }
  
  #form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  #email {
    border: 1px solid var(--mid-color2);
    height: 28px;
    max-width: 250px;
    font-size: 16px;
    padding: 0 0.5em;
    margin-top: 16px;
    color: var(--mid-color2);
    border-radius: 1%;
    font-family: Raleway, sans-serif;
    margin-bottom: 12px;
  }
  
  
  
  #submit {
    padding: 4px 20px;
    margin-bottom: 50px;
    border: 1px solid var(--contrast-color2);
    border-radius: 3%;
    background-color: var(--contrast-color2);
    font-family: Raleway, sans-serif;
    color: var(--light-color);
    font-weight: bold;
    font-size: 18px;
    
  }
  
  #submit:hover {
    background-color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
    font-size: 20px;
    margin-bottom: 47px;
  }
  
  #features-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
  }
  
  .feature {
    display: flex;
    margin: 16px 0;
  }
  
  .feature-text {
    padding-top: 10px;
    
  }
  
  
  .icon-wrapper {
    display: flex;
    padding: 10px 16px;
    margin-right: 24px;
    min-width: 80px;
    justify-content: center;
  }

  .feature2 .icon-wrapper {
    padding: 0px 16px 20px 16px;
  }
  
  .icon {
    max-height: 80px;
  }
  
  #record {
    max-height: 70px;
    
  }
  
  #video-section {
    display: flex;
    max-height: fit-content;
    box-shadow: 0 0 5px var(--dark-color);
    margin-bottom: 88px;
        
  }
  
  #video {
        width: 640px; 
        height: 360px;
  }
  
  #pricing-section {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 150px;
    flex-wrap: wrap;
    gap: 18px;
  }
  
  .pricing {
    display: flex;
    flex-direction: column;
    flex: 1 0 250px;
    max-width: 280px;
    height: 300px;
    text-align: center;
    border: 1px solid var(--mid-color2);
    box-shadow: 0 0 4px var(--mid-color2);
  }
  
  .pricing h2 {
    background-color: var(--mid-color);
    padding: 8px 0;
  }
  
  .pricing-wrapper {
    padding: 15px 15px 0 15px;
    flex: 1 0 auto;
    line-height: 1.5em;
  }
  
  .pricing p {
   margin: 5px 0; 
  }
  
  .pricing .price {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 22px;
  }
  
  .select-button {
    justify-self: flex-end;
    align-self: center;
    border: 1px solid var(--contrast-color2);
    margin-bottom: 10px;
    font-size: 16px;
    padding: 8px 15px;
    background-color: var(--contrast-color2);
    color: var(--light-color);
    letter-spacing: 0.1em;
  }
  
  .select-button:hover {
    font-size: 18px;
    background-color: var(--contrast-color);
    color: var(--light-color)
  }
  /* media queries for screen size responsiveness */
  
  @media screen and (max-width: 1000px) {
    #name {
      display: none;
    }
  
    #nav-bar {
      width: 85%;
    }
  
    .logo-wrapper {
      width: 15%;
    }
  
    #video {
      width: 480px; 
      height: 270px;
    }
  }
  
  @media screen and (max-width: 600px) {
  
  
    #nav-bar {
      width: 100%;
    }
  
    .logo-wrapper {
      display: none;
    }
    
    .icon-wrapper {
      display: none;
    }
  
    #video {
      width: 360px; 
      height: 180px;
    }
  }

  @media screen and (max-width: 500px) {
  
  
    #nav-bar {
      width: 100%;
    }
  
    .logo-wrapper {
      display: none;
    }
    
    .icon-wrapper {
      display: none;
    }
  
    #video {
      width: 240px; 
      height: 120px;
    }
  }

