:root {
    --accent-color1: #247BA0;
    --accent-color2: #FF331F;
    --dark-color1: #557276;
    --dark-color2: #1F1F1F;
    --dc2-lighter: #222222;
    --light-color2: #EEE7CB;
  
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    display: block;
    width: 100vw;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    color: var(--dark-color2);
    
  }
  
  .bottom-orangebar {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100vw;
    height: 3px;
    background-color: var(--accent-color2)
  }
  
  .bottom-whiteloader {
    position: fixed;
    display: block;
    bottom: 0;
    right: 100vw;
    width: 90%;
    height: 3px;
    background-color: white;
    animation: wiggle-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    z-index: 2;
  }
  
  h1, h2 {
    font-family: 'Syne', sans-serif;
    font-size: calc(12pt + 1.5vw);
    font-weight: 900;
    letter-spacing: 5pt;
  }
  
  
  
  h3 {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.5;
    font-weight: 400;
    
  }
  
  
  
  #nav-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: var(--accent-color1);
    color: white;
    border-bottom: 3px solid var(--accent-color2);  
    animation-name: none;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }
  
  @keyframes slide-back {
    from {
      height: 8vh;
    }
    10% {
      height: 8vh;
    }
    to {
      height: 0;
    }
  }
  
  @keyframes slide-down {
    from {
      height: 0;
      
    }
    to {
      height: 8vh;
    }
  }
  
  #navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    overflow: hidden;
    box-shadow: 0px -15px 50px var(--dark-color2);
    
  }
  
  a {
    text-decoration: none;
    color: inherit;
    margin: auto 0;
  }
  
  .navlink-wrapper {
    height: 100%;
    width: 33%;
    display: flex;
  }
  
  #navbar a {
    color: white;
    font-size: calc(12pt + 0.65vw);
    padding: 2px 5px;
    margin: auto;
    
  }
  
  
  #navbar a:hover {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: textshadow-blink, text-grow;
    animation-iteration-count: infinite;
  }
  
  .animated-loading {
    position: relative;
    display: flex;
    left: 100vw;
    height: 3px;
    width: 90%;
    background-color: white;
    animation-name: wiggle, appear;
    animation-duration: 30s, 0.1s;
    animation-fill-mode: forwards, forwards;
    animation-delay: 0.1s, 0s; 
    animation-iteration-count: 1, 1;
    z-index: 1;
  }
  
  @keyframes appear {
    from {
      display: none;
    }
    to {
      display: block;
    }
  }
  
  @keyframes wiggle {
    from {
      left: 100%;
    }
    10% {
      left: -100%;
    }
    to {
      left: -100%;
    }
    
  }
  
  main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    
  }
  
  @keyframes appearProgressively {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  #welcome-section {
    background: var(--light-color2);
    height: 84vh;
    display: flex;
    flex-direction: column;
    padding: 8vh 10vw;
    justify-content: center;
  }
  
  .wrapper .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    margin: auto auto 0 auto;
    justify-content: center;
  }

  .wrapper .bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    margin: 0 auto auto auto;
    justify-content: center;
  }

  #welcome {
    font-size: calc(12pt + 3vw);
    letter-spacing: 5pt;
    color: var(--dark-color1);
    padding-left: 5px;
    text-shadow: -0.1em 0.1em 0 white;
    margin: auto auto 10px auto;
    opacity: 0;
    animation-name: appearProgressively;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
  }
  
  #job-title {
    color: var(--dark-color1);
    font-family: 'Syne', sans-serif;
    font-size: calc(10pt + 2vw);
    letter-spacing: 0.8pt;
    margin: 10px auto 20px auto;
    text-shadow: -0.07em 0.06em 0 white;
    font-style: oblique 5deg;
    opacity: 0;
    animation-name: appearProgressively;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  #welcome-text-div {
    display: flex;
    flex-direction: column;
    align-content: center;
    max-height: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }
  
  #welcome-text {
    display: none;
    opacity: 0;
    color: var(--dark-color1);
    max-width: 900px;
    font-size: calc(6pt + 0.5vh + 0.4vw);
    text-shadow: -0.08em 0.08em 0 white;
    margin: 0 auto;
    animation-name: appearProgressively;
    animation-timing-function: ease-in;
    animation-delay: 3s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }


  .orange-hr {
    width: auto;
    margin: 8px 22vw;
    border: 1px solid var(--accent-color2);
    position: relative;
    display: block;
  }

  #hr-1 {
    opacity: 0;
    animation-name: hr-load;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }

  #hr-2 {
    left: 0;
    right: 0;
    opacity: 0;
    animation: appearProgressively 1s ease-in 4s 1 normal forwards;
  }

  #cv-button {
    position: relative;
    display: none;
    opacity: 0;
    margin: 2.5vh auto;
    background-color: var(--accent-color2);
    color: white;
    border: 2px solid var(--accent-color2);
    padding: 0.4vh 0.8vw;
    border-radius: 4px;
    box-shadow: 3px 2px 5px 0px rgba(0,0,0,0.4);
    animation: appearProgressively 1s ease-in 3.5s 1 normal forwards;
    font-size: 22px;
    font-weight: bold;
  }
  

  #cv-button:hover {
    font-size: 24px;
    margin: calc(2.5vh - 1px) auto;
  }
  
  @keyframes hr-load {
    from {
      opacity: 1;
      left: 100vw;
      right: -100vw;
    }
    to {
      opacity: 1;
      left: 0;
      right: 0; 
    }
  }
  
  #projects {
    background-color: var(--dark-color1);
    color: var(--dark-color2);
    min-height: 100vh;
    border-top: 3px solid var(--dark-color2);
    text-shadow: -0.3em 0.3em 0 var(--accent-color1);
    padding: 0 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  
    #project-slides-div {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      margin: auto 5vw;
      gap: 15px;
      flex-wrap: wrap;
    }

    .slide {
      height: 250px;
      width: 200px;
      border: 2px solid var(--dark-color2);
      border-radius: 4px;
      box-shadow: 0 0 4px var(--dark-color2);
      background-color: var(--light-color2);
      color: var(--dark-color2)
    }

    .slide:hover {
      position: relative;
      bottom: 0;
      animation: slideup 1s linear 3s infinite normal none;
    }

  #contact-section {
    background-color: var(--accent-color1);
    min-height: 100vh;
    border-top: 3px solid var(--dark-color2);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 5vh;
    justify-content: center;
  }
  
  .contact {
    text-shadow: -0.1em 0.07em 0 var(--accent-color2);
  }
  
  .contact-link-div {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .contact-link{
    display: block;
    position: relative;
    color: white;
    font-size: calc(12pt + 0.65vw);
    width: fit-content;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
   
  }
  
  .contact-link i {
    margin: auto 10px auto auto;
  }
  
  .contact-link p {
    margin: auto auto auto 0;
  }
  .contact-link:hover {
    color: white;
    animation-name: slideup, textshadow-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
  
  }
  
  @keyframes wiggle-reverse {
    from {
      right: 100%;
    }
    10% {
      right: -100%;
    }
    to {
      right: -100%;
    }
    
  }
  
  @keyframes slideup {
    from {
      bottom: 0px;
    }
    50% {
      bottom: 5px;
    }
  
    to {
      bottom: 0px;
    }
  }
  
  @keyframes textshadow-blink {
    from {
      text-shadow: -0.1em 0.07em 4px purple, -0.05em 0.05em 1px var(--accent-color2);
    }
    50% {
      text-shadow: -0.1em 0.07em 16px purple, -0.05em 0.05em 2px var(--accent-color2);
    }
    to {
      text-shadow:  -0.1em 0.07em 4px purple, -0.05em 0.05em 1px var(--accent-color2);
    }
  }
  
  @keyframes text-grow {
    from {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    to {
      transform: scale(1);
    }
  }
  

  @media screen and (max-width: 640px) {
    #cv-button {
      font-size: 14px
    }
    #cv-button:hover {
      font-size: 16px;
    }
  }

