/* stylelint-disable declaration-block-no-redundant-longhand-properties */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */

.button_colorTheme_colorIcon--dark,
.button_colorTheme_colorIcon--light {
  transform: translate(50%, -50%);
}

.button--colorTheme {
  all: unset;
  font-size: 32px;
  position: fixed;
  width: 40px;
  height: 40px;
  right: 16px;
  top: 16px;
  text-align: center;
  transform: translate(-50%, 50%);
}

/* #region Variables */

.dark {
  --bg-color: #111010;
  --element-color: #323030;
  --hover-color: #545050;
  --text-color: #e7e6e6;
  --shadow-color: rgba(228, 228, 228, 0.25);
  --placeholder-color: #C5C3C3;
}

.light {
  --bg-color: white;
  --element-color: #e7e6e6;
  --hover-color: #dadada;
  --text-color: black;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --placeholder-color: #A6A2A2;
}

/* #endregion */

/* #region Elements */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  box-sizing: border-box;
  flex-direction: column;
  height: 100%;
  padding: 60px 60px 100px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  max-width: 130ch;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 40px;
}

h1,
h2,
h3 {
  font-family: Syne, sans-serif;
  display: block;
  line-height: 1em;
  letter-spacing: 0.02em;
}

span {
  white-space: nowrap;
}

hr {
  color: var(--text-color);
}

img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  margin: auto;
}

label {
  font-family: Syne, sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  padding: 0;
  width: fit-content;
  text-justify: center;
  margin: 0;
}

i,
img {
  filter: drop-shadow(0 4px 4px var(--shadow-color));
}

/* #endregion */

/* #region Styling */
.bordered {
  border: 2px solid var(--hover-color);
  box-sizing: border-box;
}

.r10px {
  border-radius: 10px;
}

.grey {
  background-color: var(--element-color);
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.main_about {
  grid-area: About;
  width: 100%;
  height: 100%;
}

.empty {
  grid-area: Empty;
}

.projects_wrapper-a,
.header_wrapper1_2-a {
  text-decoration: none;
  color: var(--text-color);
}

/* #endregion */

/* #region Main */

.main_wrapper {
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  grid-template-areas:
    "Header Header Header Header Header Header Header Header Header Header Header Header"
    "About About About About About About . Projects Projects Projects Projects Projects"
    "Contact Contact Contact Contact Contact Contact . Projects Projects Projects Projects Projects";
}

/* #endregion */

/* #region Header */

.main_header {
  grid-area: Header;
  width: 100%;
  height: 100%;
}

.header_wrapper1 {
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.header_wrapper1_1 {
  justify-content: flex-end;
  gap: 8px;
}

.header_wrapper1_2 {
  width: auto;
  gap: 16px;
  margin: auto 0 0 20px;
}

.header-hr {
  margin-top: 8px;
}

.header_wrapper1_2-icon {
  display: block;
  font-size: 88px;
}

.header_wrapper1_2-icon:hover {
  animation: slideup 2s ease-in-out 0 infinite forwards none;
}

/* #endregion */

/* #region About */
.about-a {
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  margin-top: 16px;
  width: fit-content;
  color: var(--text-color);
}

.about-p {
  margin-top: 16px;
  min-width: 45ch;
  max-width: 65ch;
}

/* #endregion */

/* #region Contact */

.main_contact {
  grid-area: Contact;
  width: 100%;
  height: 100%;
}

.contact_form {
  margin-top: 16px;
  gap: 8px;
  height: 100%;
  width: 100%;
}

.contact_form-text,
.contact_form-email {
  width: 100%;
}

.contact_form_wrapper1 {
  max-width: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  gap: 0 8px;
  grid-template-areas: "Name Email";
}

.form_wrapper1_1 {
  grid-area: Name;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.form_wrapper1_2 {
  grid-area: Email;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.contact_form-textarea {
  padding: 8px;
  flex-grow: 1;
  font-size: 16px;
  line-height: 24px;
  resize: none;
}

.contact_form-submit {
  height: 29px;
  padding: 2px 8px;
}

/* #endregion */

/* #region Projects */

.main_projects {
  grid-area: Projects;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
  grid-template-areas:
    "PHeading PHeading"
    "Tile1 Tile2"
    "Tile3 ."
    ". .";
  gap: 16px;
}

.project-h3 {
  grid-area: PHeading;
  margin-bottom: 4px;
}

.projects_wrapper {
  box-sizing: border-box;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-template-areas:
    "Tile1 Tile2"
    "Tile3 ."
    ". .";
  margin: 16px 0;
}

.wrapper_tile-p {
  font-size: 20px;
  font-weight: 600;
  font-family: Syne, sans-serif;
  text-align: center;
  margin: 8px auto auto;
}

.projects_tile {
  box-sizing: border-box;
  padding: 16px;;
}

/* #endregion */

/* #region Footer */

footer {
  position: relative;
  left: 0;
  top: 80px;
  width: 100%;
  color: var(--text-color);
  background: transparent;
}

.footer-p {
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  line-height: 16px;
}

/* #endregion */

/* #region MultiSelectors */

input,
textarea {
  color: var(--placeholder-color);
  border: none;
  padding: 4px 8px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder-color);
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
  background-color: var(--hover-color);
}

input:hover,
textarea:hover,
.projects_tile:hover {
  background-color: var(--hover-color);
}

/* #endregion */

/* #region Animations */

@keyframes slideup {
  0% {
    position: relative;
    transform: translateY(0);
  }

  50% {
    position: relative;
    transform: translateY(4px);
  }

  100% {
    position: relative;
    transform: translateY(0);
  }
}

/* #endregion */

/* #region MediaQueries */

@media screen and (width < 1130px) {
  .main_wrapper {
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    grid-template-areas:
      "Header"
      "About"
      "Projects"
      "Contact";
  }

  body {
    height: auto;
  }

  main {
    max-width: 75ch;
  }

  html {
    height: auto;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  .header_wrapper1_2-icon {
    font-size: 80px;
  }
}

@media screen and (width < 650px) {
  .header_wrapper1_2 {
    gap: 8px;
  }

  body {
    padding: 60px 40px;
  }

  .contact_form-textarea {
    max-height: 200px;
  }
}

@media screen and (width < 550px) {
  body {
    padding: 40px 20px 75px;
  }

  .about-p {
    min-width: 30ch;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 24px;
  }

  .wrapper_tile-p {
    font-size: 16px;
  }

  .header_wrapper1_2-icon {
    font-size: 60px;
  }

  .header_wrapper1_1 {
    gap: 4px;
  }
}

@media screen and (width < 400px) {
  .header_wrapper1_2 {
    flex-direction: column;
    gap: 2px;
  }

  body {
    padding: 30px 16px 50px;
  }

  h1,
  h2,
  h3 {
    letter-spacing: 0;
  }

  .about-p {
    min-width: 20ch;
  }

  p {
    line-height: 22px;
  }

  h3 {
    margin-top: 32px;
  }

  .header_wrapper1_2-icon {
    font-size: 50px;
  }
}

@media screen and (width < 290px) {
  body {
    padding: 30px 10px 50px;
  }

  .projects_wrapper {
    gap: 10px 10px;
  }

  .about-p {
    min-width: 0;
  }

  h1 {
    font-size: 24px;
  }

  .header_wrapper1_2-icon {
    font-size: 40px;
  }
}

/* #endregion */
