:root {
    --accent-color1: #247BA0;
    --accent-color2: #FF331F;
    --dark-color1: #557276;
    --dark-color2: #1F1F1F;
    --dc2-lighter: #222222;
    --light-color2: #EEE7CB;
  
  }
  html {
    scroll-behavior: smooth;
  }
  
  body {
    width: 100vw;
    font-family: 'Space Grotesk', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
    color: var(--dark-color2);
    
  }
  
  .bottom-orangebar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 3px;
    background-color: var(--accent-color2)
  }
  
  .bottom-whiteloader {
    position: fixed;
    bottom: 0;
    right: 100vw;
    width: 100%;
    height: 3px;
    background-color: white;
    animation: wiggle-reverse;
    animation-duration: 30s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
    animation-iteration-count: 1;
    z-index: 2;
  }
  
  h1, h2 {
    font-family: 'Syne', sans-serif;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0.6;
  }
  
  
  
  h3 {
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: 0.5;
    font-weight: 400;
    
  }
  
  
  
  #nav-section {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: var(--accent-color1);
    color: white;
    align-items: center;
    border-bottom: 3px solid var(--accent-color2);  
    animation-name: none;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-duration: 1s;
  }
  
  @keyframes slide-back {
    from {
      height: 8vh;
    }
    10% {
      height: 8vh;
    }
    to {
      height: 0;
    }
  }
  
  /*#nav-section:hover {
    animation-name: slide-down;
    animation-duration: 0.5s;
    
    animation-timing-function: ease-out;
  }*/
  
  
  @keyframes slide-down {
    from {
      height: 0;
      
    }
    to {
      height: 8vh;
    }
  }
  
  #navbar {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    overflow: hidden;
    box-shadow: 0px -15px 50px var(--dark-color2);
    
  }
  
  a {
    text-decoration: none;
    margin: auto 0;
  }
  
  .navlink-wrapper {
    height: 100%;
    width: 33%;
    display: flex;
  }
  
  #navbar a {
    color: white;
    font-size: 24px;
    padding: 2px 5px;
    margin: auto;
    
  }
  
  
  #navbar a:hover {
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: textshadow-blink, text-grow;
    animation-iteration-count: infinite;
  }
  
  .animated-loading {
    position: relative;
    left: 100vw;
    height: 3px;
    width: 90vw;
    background-color: white;
    animation-name: wiggle, appear;
    animation-duration: 30s, 0.1s;
    animation-fill-mode: forwards, forwards;
    animation-delay: 0.1, 0; 
    animation-iteration-count: 1, 1;
    z-index: 1;
  }
  
  @keyframes appear {
    from {
      display: none;
    }
    to {
      display: inline;
    }
  }
  
  @keyframes wiggle {
    from {
      left: 100%;
    }
    10% {
      left: -100%;
    }
    to {
      left: -100%;
    }
    
  }
  
  main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    
  }
  
  #welcome-section {
    background: var(--light-color2);
    height: 100vh;
    border-bottom: 2px solid var(--dark-color2);
    display: flex;
    flex-direction: column;
    padding: 0 5vh;
  }
  
  #welcome {
    font-size: 100px;
    letter-spacing: 3;
    color: var(--dark-color1);
    text-shadow: -10px 8px 0 white;
    margin: auto auto 10px auto;
  
  }
  
  #job-title {
    color: var(--dark-color1);
    font-size: 56px;
    padding: 5px 10px;
    margin: 0 auto auto auto;
    text-shadow: -3px 3px 0 white;
    font-style: oblique 5deg;
  
  }
  
  .orange-hr {
    position: relative;
    right: 100vw;
    width: 80vw;
    max-width: 800px;
    border: 1px solid var(--accent-color2);
    animation-name: hr-load;
    animation-duration: 3s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes hr-load {
    from {
      left: 100%;
      right: 0;
    }
  50% {
    right: 0;
  }
    to {
      left: 0;
      right: 0;
     
  
    }
  }
  
  #projects {
    background-color: var(--dark-color1);
    color: var(--dark-color2);
    height: 100vh;
    border-top: 1px solid var(--dark-color2);
    text-shadow: -6px 4px 0 var(--accent-color1);
    padding: 0 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  
  #contact-section {
    background-color: var(--accent-color1);
    height: 100vh;
    border-top: 2px solid var(--dark-color2);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5vh;
    justify-content: center;
  }
  
  .contact {
    text-shadow: -6px 4px 0 var(--accent-color2);
  }
  
  .contact-link-div {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .contact-link{
    color: white;
    font-size: 24px;
    width: fit-content;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
   
  }
  
  .contact-link i {
    margin: auto 10px auto auto;
  }
  
  .contact-link p {
    margin: auto auto auto 0;
  }
  .contact-link:hover {
    color: white;
    animation-name: slideup, textshadow-blink;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: relative;
  
  }
  
  @keyframes wiggle-reverse {
    from {
      right: 100%;
    }
    10% {
      right: -100%;
    }
    to {
      right: -100%;
    }
    
  }
  
  @keyframes slideup {
    from {
      bottom: 0px;
    }
    50% {
      bottom: 5px;
    }
  
    to {
      bottom: 0px;
    }
  }
  
  @keyframes textshadow-blink {
    from {
      text-shadow: -1px 1px 4px purple, -2px 2px 1px var(--accent-color2);
    }
    50% {
      text-shadow: -1px 1px 16px purple, -2px 2px 2px var(--accent-color2);
    }
    to {
      text-shadow:  -1px 1px 4px purple, -2px 2px 1px var(--accent-color2);
    }
  }
  
  @keyframes text-grow {
    from {
      font-size: 24px;
    }
    50% {
      font-size: 25px;
    }
    to {
      fontsize: 24px
    }
  }
  
  @media screen and (max-width: 700px) {
    #welcome {
      font-size: 70px;
    }
    #job-title {
      font-size: 36px;
    }
    h2 {
      font-size: 36px;
    }
  
    .contact-link {
      font-size: 18px;
    }
  
  }
  
  @media screen and (max-width: 500px) {
    #welcome {
      font-size: 36px;
    }
    #job-title {
      font-size: 32px;
    }
    h2 {
      font-size: 24px;
    }
    .contact-link {
      font-size: 16px;
    }
  }