* {
  margin: 0;
  padding: 0;
}

body {
  flex-direction: column;
  margin: 80px 20px;
}

main {
  max-width: 150ch;
  max-height: ;
  margin: 0 auto;
}

p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.12em;
}

a {
  font-size: 20px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  margin-top: 16px;
  width: fit-content;
}

h1 {
  font-size: 48px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  margin-top: 40px;
}

h1,
h2,
h3 {
  font-family: Syne, sans-serif;
  display: block;
  line-height: 1em;
}

hr {
  color: black;
}

input,
textarea {
  border: none;
  padding: 4px 8px;
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  letter-spacing: 0.12em;
}

input:focus,
textarea:focus {
  border: none;
  outline: none;
  background-color: #dadada;
}

input:hover,
textarea:hover {
  border: none;
  background-color: #dadada;
}

img {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

i,
img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

label {
  font-family: "Space Grotesk", sans-serif;
}
.main_header {
}

.main_header_wrapper1 {
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}

.main_header_wrapper1_wrapper2 {
  gap: 8px;
}

.main_header_wrapper1_wrapper3 {
  width: auto;
  gap: 20px;
  margin: auto 0;
}

.main_header-hr {
  margin-top: 8px;
}

.main_header_wrapper1_wrapper3-icon {
  display: block;
  font-size: 88px;
}

.r10px {
  border-radius: 10px;
}

.grey {
  background-color: #e7e6e6;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.grid {
  display: grid;
}

.main_about {
  grid-area: About;
}

.empty {
  grid-area: Empty;
}

.main_about-p {
  margin-top: 16px;
  min-width: 50ch;
  max-width: 75ch;
}

.main_contact {
  grid-area: Contact;
}

.main_projects {
  grid-area: Projects;
}

.main_projects_wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 16px;
  grid-template-areas:
    "Tile1 Tile2"
    "Tile3 ."
    ". .";
  margin-top: 16px;
}

.main_projects_wrapper_tile {
  padding: 16px;
}

.main_projects_wrapper_tile-p {
  font-size: 20px;
  font-weight: 600;
  font-family: "Syne", sans-serif;
  text-align: center;
  margin: 8px auto;
}

.main_wrapper {
  width: 100%;
  height: 100%;
  grid-template-columns: 6fr 20px 1fr 5fr; 
  grid-template-rows: auto auto; 
  grid-template-areas: 
    "About . . Projects"
    "Contact Contact . Projects"; 
}

.main_contact_form {
  margin-top: 16px;
  gap: 8px;
  height: 100%;
}

.main_contact_form_wrapper-label {
  font-family: Syne, sans-serif;
  font-size: 20px;
  line-height: 16px;
  padding: 0 4px 0 0;
  width: fit-content;
  text-justify: center;
  margin: auto 0;
}

.main_contact_form_wrapper-input {
  flex-grow: 1;
}

.main_contact_wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 8px;
  grid-template-areas: "Name Email";
}

.main_contact_wrapper_wrapper1 {
  grid-area: Name;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.main_contact_wrapper_wrapper2 {
  grid-area: Email;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
}

.main_contact_form-textarea {
  padding: 8px 16px;
  height: 100%;
  font-size: 16px;
  letter-spacing: 0.12em;
  line-height: 24px;
}
