:root {
  --accent-color1: #247ba0;
  --accent-color2: #ff331f;
  --dark-color1: #557276;
  --dark-color2: #1f1f1f;
  --dc2-lighter: #222;
  --light-color2: #eee7cb;

  font-size: 88%;
}

html {
  scroll-behavior: smooth;
}

p {
  font-size: 1rem;
  font-variant-ligatures: common-ligatures;
  letter-spacing: 0.12;
  line-height: 1.4rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.2em;
}

h1 {
  font-size: 1.563rem;
  line-height: 1.2em;
}

h1,
h2 {
  font-family: Syne, sans-serif;
  font-weight: 900;
  letter-spacing: 5pt;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  color: var(--dark-color2);
  z-index: -999;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 5vh 5vw;
  height: 90vh;
  width: 90vw;
}

.bottom-orangebar {
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3px;
  background-color: var(--accent-color2);
}

.bottom-whiteloader {
  position: fixed;
  display: block;
  bottom: 0;
  right: 100vw;
  width: 100%;
  height: 3px;
  background-color: white;
  animation: wiggle-reverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  z-index: 2;
}

#nav-section {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background: var(--accent-color1);
  color: white;
  animation-name: none;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 1s;
}

@keyframes slide-back {
  0% {
    height: 8vh;
  }

  10% {
    height: 8vh;
  }

  100% {
    height: 0;
  }
}

@keyframes slide-down {
  from {
    height: 0;
  }

  to {
    height: 8vh;
  }
}

@keyframes hamburger-icon-slide {
  from {
    opacity: 1;
    transform: scaleY(0);
  }

  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

#navbar {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-content: center;
  overflow: hidden;
  box-shadow: 0 -15px 50px var(--dark-color2);
  border-bottom: 3px solid var(--accent-color2);
}

.hamburger-icon-wrapper {
  opacity: 0;
  transform-origin: top;
  background-color: var(--accent-color2);
  border-radius: 0 0 5px;
  padding: 3px;
  position: absolute;
  bottom: -38px;
  width: min(12vw, 80px);
  height: 30px;
  animation: hamburger-icon-slide 0.5s ease-out 2s 1 normal forwards;
}

.hamburger-icon-wrapper i {
  font-size: 28px;
  padding: 0;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: inherit;
  margin: auto 0;
}

.navlink-wrapper {
  height: 100%;
  width: 33%;
  display: flex;
}

#navbar a {
  font-size: 1.25rem;
  color: white;
  padding: 2px 5px;
  margin: auto;
}

#navbar a:hover {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-name: textshadow-blink, text-grow;
  animation-iteration-count: infinite;
}

.animated-loading {
  position: relative;
  display: flex;
  left: 100vw;
  bottom: 3px;
  height: 3px;
  width: 90%;
  background-color: white;
  animation-name: wiggle, appear;
  animation-duration: 2s, 0.1s;
  animation-fill-mode: forwards, forwards;
  animation-delay: 0.1s, 0s;
  animation-iteration-count: 1, 1;
  z-index: 1;
}

@keyframes appear {
  from {
    display: none;
  }

  to {
    display: block;
  }
}

@keyframes wiggle {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-200vw);
  }
}

main {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

@keyframes appear-progressively {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#welcome-section {
  background: var(--light-color2);
  min-height: 90vh;
  justify-content: center;
}

.wrapper .top {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  margin: auto auto 0;
  justify-content: center;
}

.wrapper .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10vh;
  margin: 0 auto auto;
  justify-content: center;
}

#welcome {
  letter-spacing: 5pt;
  color: var(--dark-color1);
  padding-left: 5px;
  text-shadow: -0.08em 0.08em 0 white;
  margin: auto auto 10px;
  opacity: 0;
  animation-name: appear-progressively;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.paperOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: repeat;
  background-image: url("./Images/cardboard.png");
  opacity: 0.5;
  mix-blend-mode: multiply;
  pointer-events: none;
}

#job-title {
  color: var(--dark-color1);
  font-family: Syne, sans-serif;
  letter-spacing: 0.8pt;
  font-weight: 400;
  margin: 10px auto;
  text-shadow: -0.05em 0.05em 0 white;
  font-style: oblique 5deg;
  opacity: 0;
  animation-name: appear-progressively;
  animation-timing-function: ease-in;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contact-link p {
  margin: auto auto auto 0;
  font-size: 1.25rem;
}

.project-link p {
  display: none;
  font-size: 1.25rem;
  text-shadow: none;
  font-weight: 600;
  color: var(--dark-color1);
  margin: 15px 0 0;
}

form.contact-form {
  display: flex;
  flex-direction: column;
  flex: 1.62 0 0;
  gap: 10px;
  min-width: fit-content;
  padding: 12px 12px 20px;
  text-align: left;
  border: 2px solid white;
  border-radius: 15px;
}

#submit {
  all: revert;
  background-color: var(--accent-color1);
  border: 2px solid white;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-size: inherit;
  flex-grow: 1;
}

#submit:hover {
  border: 2px solid var(--accent-color2);
  color: var(--accent-color2);
}

.email-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;

}

input,
textarea {
  border: 2px solid transparent;
  border-radius: 5px;
}

form h2,
.contact-link-div h2 {
  justify-self: flex-start;
  margin: 0 0 1rem;
  text-shadow: -0.1em 0.1em 0 var(--accent-color2);
}

.contact-form label {
  border: 0;
  clip-path: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#person-email {
  font-size: 1rem;
  flex-grow: 1.6;
}

#person-message {
  font-family: inherit;
  font-size: 1rem;
  max-width: 75ch;
  height: clamp(3rem, 10rem, 15vh);
}

#welcome-text-div {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-height: 0;
  text-align: left;
  overflow: hidden;
}

#welcome-text {
  display: inline;
  opacity: 0;
  color: var(--dark-color1);
  width: clamp(30ch, 100%, 75ch);
  margin: 0 auto;
  text-shadow: -0.05em 0.05em 0 white;
  animation-name: appear-progressively;
  animation-timing-function: ease-in;
  animation-delay: 3s;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#welcome-text-div p:last-of-type {
  margin-top: 1rem;
}

.orange-hr {
  width: auto;
  margin: 8px 22vw;
  border: 1px solid var(--accent-color2);
  position: relative;
  display: block;
}

#hr-1 {
  opacity: 0;
  animation-name: hr-load;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#hr-2 {
  left: 0;
  right: 0;
  opacity: 0;
  animation: appear-progressively 1s ease-in 4s 1 normal forwards;
}

#cv-button {
  position: relative;
  display: block;
  opacity: 0;
  margin: 2.5vh auto;
  background-color: var(--accent-color2);
  color: white;
  border: 2px solid var(--accent-color2);
  padding: 0.4vh 0.8vw;
  border-radius: 4px;
  box-shadow: 3px 2px 5px 0 rgba(0 0 0 40%);
  animation: appear-progressively 1s ease-in 3.5s 1 normal forwards;
  font-weight: bold;
}

#cv-button:hover {
  margin: calc(2.5vh - 1px) auto;
}

@keyframes hr-load {
  from {
    opacity: 1;
    left: 100vw;
    right: -100vw;
  }

  to {
    opacity: 1;
    left: 0;
    right: 0;
  }
}

#projects {
  background-color: var(--dark-color1);
  color: var(--light-color2);
  border-top: 3px solid var(--dark-color2);
  justify-content: center;
}

.projects-h2 {
  text-shadow: -0.1em 0.1em 0 var(--accent-color1);
  margin-top: auto;
}

#project-slides-div {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 15px;
  flex-flow: row wrap;
  margin-bottom: auto;
}

.project-link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
  border: 2px solid var(--light-color2);
  border-radius: 10px;
  padding: 2%;
  background-color: var(--light-color2);
  max-width: 25vw;
  max-height: 25vw;
}

.project-link:hover {
  position: relative;
  bottom: 0;
  animation: slideup 3s ease-in-out 0s infinite normal none;
}

.project-img {
  box-sizing: border-box;
  border: 2px solid var(--dark-color1);
  border-radius: 8px;
}

#contact-section {
  background-color: var(--accent-color1);
  border-top: 3px solid var(--dark-color2);
  color: white;
}

.contact-h2 {
  text-shadow: -0.1em 0.1em 0 var(--accent-color2);
  margin-top: auto;
}

.contact-section-wrapper {
  max-width: 100%;
  margin: 0 0 auto;
  padding: 0;
  display: flex;
  flex-flow: column-reverse;
  align-content: space-between;
  justify-content: space-between;
  gap: 1rem;
}

.contact-link-div {
  display: flex;
  flex: 1 1 0;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: space-between;
  min-width: fit-content;
  padding: 12px;
  border: 2px solid white;
  border-radius: 15px;
}

.contact-link {
  position: relative;
  color: white;
}

.contact-link i {
  font-size: calc(5rem + 1vw + 1vh);
}

.contact-icons-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 10px;
}

.contact-link:hover {
  color: white;
  animation-name: slideup, textshadow-blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
}

@keyframes wiggle-reverse {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(200vw);
  }
}

@keyframes slideup {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -5px, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes textshadow-blink {
  0% {
    text-shadow: -0.1em 0.07em 4px purple,
      -0.05em 0.05em 1px var(--accent-color2);
  }

  50% {
    text-shadow: -0.1em 0.07em 16px purple,
      -0.05em 0.05em 2px var(--accent-color2);
  }

  100% {
    text-shadow: -0.1em 0.07em 4px purple,
      -0.05em 0.05em 1px var(--accent-color2);
  }
}

@keyframes text-grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@media screen and (min-width: 640px) {
  .project-link p {
    display: block;
  }

  h2 {
    font-size: 1.777rem;
  }

  h1 {
    font-size: 2.369rem;
  }

  .contact-section-wrapper {
    flex-direction: row-reverse;
  }
}

@media screen and (min-width: 960px) {
  :root {
    font-size: 112%;
  }

  .contact-section-wrapper {
    padding: 0 5vw;
  }

  h2 {
    font-size: 1.999rem;
  }

  h1 {
    font-size: 2.827rem;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    font-size: 130%;
  }

  h2 {
    font-size: 2.25rem;
  }

  h1 {
    font-size: 3.375rem;
  }
}

@media screen and (max-height: 560px) {
  .section {
    height: min(90vh, max-content);
  }
}

