html {
  height: 100vh;
  width: 100vw;
}

body {
  height: calc(100% - 5vh);
  margin: 0;
  padding: 5vw 5vh;
  width: calc(100% - 5vw);
}

.grid-item {
  border: 1px solid #ddd;
  box-sizing: border-box;
  margin: 0;

  /* prevent grad/drag on mousedown 
  Chrome/Safari */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;

  /* Firefox */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-user-select: none;

  /* Internet Explorer/Edge */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-user-select: none;

  /* Standard */
  user-select: none;
}

#color-palette {
  display: flex;
  flex-flow: row wrap;
  height: 10vh;
  width: 100%;
}

#container {
  height: 60vh;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#color0 {
  background-color: purple;
}

#color1 {
  background-color: blue;
}

#color2 {
  background-color: aqua;
}

#color3 {
  background-color: green;
}

#color4 {
  background-color: lawngreen;
}

#color5 {
  background-color: yellow;
}

#color6 {
  background-color: orange;
}

#color7 {
  background-color: red;
}

#color8 {
  background-color: pink;
}

#color9 {
  background-color: white;
}

#color10 {
  background-color: black;
}

#color-picker {
  height: auto;
  width: auto;
}



.color-square,
#color-picker {
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 5px grey;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 5px;
  min-height: 50px;
  min-width: 50px;
}
