/* stylelint-disable color-function-notation */
:root {
  --dark-color: #2d3047ff;
  --accent-color1: #f17300ff;
  --accent-color2: #ad343eff;
  --light-color1: #f4f4f9ff;
  --light-color2: #d1d7db;
  --jordy-blue: #8ec5fcff;
}

html {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

body {
  color: var(--dark-color);
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  margin: 0;
  padding: 2vh 5vw 5vh;
  height: 93vh;
  width: 90vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-content: center;
}

body,
button {
  font-family: Oswald, sans-serif;
}

.fixed-button {
  all: unset;
  font-size: 2rem;
  position: fixed;
  opacity: 0.7;
}

.button {
  font-size: 1.25rem;
  letter-spacing: 0.08rem;
  color: var(--dark-color);
  border-radius: 6px;
  border: 2px solid transparent;
  background-color: var(--light-color1);
}

.button:hover {
  border: 2px solid var(--accent-color1);
  color: var(--accent-color1);
}

.shadow {
  box-shadow: 0 10px var(--dark-color), 0 5px 20px 5px rgba(61, 61, 61, 50.8%);
}

.white {
  background-color: #fdfdfd;
  background-image: linear-gradient(160deg, #fdfdfd 0%, #d1d7db 100%);
}

.grid-item {
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  border-bottom: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);

  /* prevent grad/drag on mousedown 
  Chrome/Safari */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;

  /* Firefox */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-user-select: none;

  /* Internet Explorer/Edge */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-user-select: none;

  /* Standard */
  user-select: none;
}

.inactive {
  border: none;
}

.opened {
  color: var(--accent-color1);
}

#color0 {
  background-color: purple;
}

#color1 {
  background-color: blue;
}

#color2 {
  background-color: aqua;
}

#color3 {
  background-color: green;
}

#color4 {
  background-color: lawngreen;
}

#color5 {
  background-color: yellow;
}

#color6 {
  background-color: orange;
}

#color7 {
  background-color: red;
}

#color8 {
  background-color: pink;
}

#color9 {
  background-color: white;
}

#color10 {
  background-color: black;
}

#color-picker {
  height: auto;
  width: auto;
}

#color-palette {
  display: flex;
  border-radius: 10px;
  flex-flow: row wrap;
  height: 100px;
  justify-content: space-between;
  margin: 15px 0 10px;
  padding: 5px 10px 10px;
  width: calc(100% - 24px);
}

#container-wrapper {
  height: fit-content;
  margin: 0 auto;
  padding: 20px;
  width: max-content;
}

#container {
  overflow: hidden;
  background: transparent;
  border-left: 1px solid var(--dark-color);
  border-top: 1px solid var(--dark-color);
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  margin: 0 auto;
}

#menu-button {
  top: 5px;
  right: 10px;
}

#grid-button {
  top: 45px;
  right: 13px;
}

#menu {
  border-radius: 8px;
  flex-flow: column wrap;
  font-size: 1.25rem;
  gap: 5px;
  left: 50%;
  margin: 0 auto 10px;
  padding: 8px;
  box-shadow: 5px 5px 12px -2px rgba(0, 0, 0, 64%);
  position: fixed;
  text-align: center;
  top: 40%;
  transform: translate(-50%, -50%);
  width: fit-content;
}

#size-range {
  width: auto;
}

#size-output {
  font-size: 1.953rem;
  margin: -8px auto 10px;
}

.color-square,
#color-picker {
  position: relative;
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 5px var(--dark-color);
  box-sizing: border-box;
  flex-grow: 1;
  margin: 5px;
  max-height: 100px;
  min-height: 30px;
  min-width: 30px;
  animation-name: button-release;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

#container-wrapper,
#color-palette {
  border-radius: 10px;
}

#color-picker:active {
  animation-name: button-push;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.color-square:active {
  animation-name: button-push;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes button-push {
  0% {
    transform: translateY(0);
    box-shadow: 0 5px var(--dark-color);
  }

  100% {
    transform: translateY(3px);
    box-shadow: 0 2px var(--dark-color);
  }
}

@keyframes button-release {
  0% {
    transform: translateY(3px);
    box-shadow: 0 2px var(--dark-color);
  }

  100% {
    transform: translateY(0);
    box-shadow: 0 5px var(--dark-color);
  }
}
