:root {
  --dark-color: #586f7cff;
  --accent-color1: #c16200ff;
  --accent-color2: #881600ff;
  --light-color1: #f4f4f9ff;
  --light-color2: #fdfffcff;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 2vh 5vw 5vh;
  height: 93vh;
  width: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  background-color: var(--light-color2);
}

.shadow {
  box-shadow: 0 15px var(--dark-color);
}

.grid-item {
  box-sizing: border-box;
  margin: 0;
  border-bottom: 1px solid var(--dark-color);
  border-right: 1px solid var(--dark-color);

  /* prevent grad/drag on mousedown 
  Chrome/Safari */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;

  /* Firefox */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-user-select: none;

  /* Internet Explorer/Edge */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-user-select: none;

  /* Standard */
  user-select: none;
}

#color0 {
  background-color: purple;
}

#color1 {
  background-color: blue;
}

#color2 {
  background-color: aqua;
}

#color3 {
  background-color: green;
}

#color4 {
  background-color: lawngreen;
}

#color5 {
  background-color: yellow;
}

#color6 {
  background-color: orange;
}

#color7 {
  background-color: red;
}

#color8 {
  background-color: pink;
}

#color9 {
  background-color: white;
}

#color10 {
  background-color: black;
}

#color-picker {
  height: auto;
  width: auto;
}

#color-palette {
  background: url("../Images/brushed-alum.png"), var(--light-color1);
  border-radius: 10px;
  border: 2px solid var(--dark-color);
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  justify-content: space-between;
  margin: 25px 0 10px;
  padding: 5px 10px 10px;
  width: calc(100% - 24px);
}

#container-wrapper {
  background: url("../Images/brushed-alum.png"), var(--light-color1);
  border-radius: 20px;
  border: 2px solid var(--dark-color);
  height: max-content;
  margin: 0 auto;
  padding: 20px;
  width: max-content;
}

#container {
  background-color: var(--light-color2);
  background-image: none;
  border-left: 1px solid var(--dark-color);
  border-top: 1px solid var(--dark-color);
  box-shadow: inset 2px 2px var(--dark-color);
  display: grid;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  margin: 0 auto;
}

#square-size-picker {
  background: url("../Images/brushed-alum.png") var(--light-color1);
  border-radius: 5px;
  border: 2px solid var(--dark-color);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0 auto 10px;
  padding: 5px 0;
  width: 100%;
}

#size-output {
  width: 5ch;
}

#size-range {
  width: auto;
}

.color-square,
#color-picker {
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 5px var(--dark-color);
  box-sizing: border-box;
  flex-grow: 1;
  margin: 5px;
  max-height: 100px;
  max-width: 100px;
  min-height: 30px;
  min-width: 40px;
}
