:root {
  --dark-color1: #240115ff;
  --accent-color1: #de3c4bff;
  --accent-color2: #87f5fbff;
  --dark-purple-2: #2f131eff;
  --neutral-color: #cec3c1ff;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

}

.grid-item {
  border: 1px solid var(--neutral-color);
  margin: 0;
  /* prevent grad/drag on mousedown 
  Chrome/Safari */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-user-select: none;

  /* Firefox */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -moz-user-select: none;

  /* Internet Explorer/Edge */
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -ms-user-select: none;

  /* Standard */
  user-select: none;
}

#color-palette {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border: 2px solid var(--accent-color1);
}

#container {
  border: 1px solid var(--neutral-color);
  height: 60vh;
  width: 60vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#color0 {
  background-color: purple;
}

#color1 {
  background-color: blue;
}

#color2 {
  background-color: aqua;
}

#color3 {
  background-color: green;
}

#color4 {
  background-color: lawngreen;
}

#color5 {
  background-color: yellow;
}

#color6 {
  background-color: orange;
}

#color7 {
  background-color: red;
}

#color8 {
  background-color: pink;
}

#color9 {
  background-color: white;
}

#color10 {
  background-color: black;
}

#color-picker {
  height: auto;
  width: auto;
}

.color-square,
#color-picker {
  border-radius: 5px;
  border: 1px solid transparent;
  box-shadow: 0 5px grey;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 5px;
  min-height: 50px;
  min-width: 50px;
}
